<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title X-BUILD v5.1.3
  body
    div#root
      div.x-page
        div(animate="animate-name", delay=1000, duration=1000)
          each item in new Array(10).fill(0)
            img(data-src=`https://picsum.photos/200/300?random=${Math.random()}` prior)
      div.x-page
        div(animate="animate-name", delay=1000, duration=1000)
          each item in new Array(10).fill(0)
            img(data-src=`https://picsum.photos/200/300?random=${Math.random()}` prior)
      div.x-page
        div(animate="animate-name", delay=1000, duration=1000)
          each item in new Array(10).fill(0)
            img(data-src=`https://picsum.photos/200/300?random=${Math.random()}` prior)

