<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title H5 Random
  body
    div#root
      div.x-page
        div.page(animate="bounceInUp", delay=100, duration=1000)
          div.top-img
            img(data-src="src/assets/images/user-img.jpg" prior)
          div.desc 约翰·塞巴斯蒂安·巴赫（德语：Johann Sebastian Bach，1685年3月31日－1750年7月28日），
            | 巴洛克时期的作曲家及管风琴、小提琴、大键琴演奏家，也是巴洛克音乐的集大成者。巴赫被认为是音乐史上最杰出、
            | 最重要的作曲家之一[1]，和莫扎特、贝多芬齐名[2]。
            | 巴赫出生于神圣罗马帝国爱森纳赫（位于今德国图林根州）的一个音乐世家，自幼即接受音乐教育，
            | 父母亡故后又到奥尔德鲁夫和吕讷堡修习学业。毕业后巴赫先后在阿恩施塔特和米尔豪森担任管风琴师（1703～1708年），
            | 往后巴赫的职涯历任魏玛（1708～1717年）与克滕（1717～1723年）的宫廷乐长，以及莱比锡的教堂音乐总监（1723～1750年）。
            | 巴赫一生多产，其作品以质量俱佳著称；除了歌剧，他几乎涉猎了当时所有的曲种，包含清唱剧、受难曲、神剧、经文歌、
            | 弥撒曲、圣咏、各种乐器的独奏曲、组曲、室内乐及协奏曲等等。尽管巴赫没有开创新风格，但他的创作广纳了德、义、法等国的音乐手法，
            | 并以娴熟的复调技巧呈现，展现了巴洛克音乐风格的精华与深奥的思想。
            | 但由于音乐风尚转而追求简明、轻巧的风格，巴赫的复调音乐在其死后被视为陈腐之物，其成就在数十年内未得到应有的评价，
            | 仅仅作为管风琴演奏家与教师而闻名[3]。虽然莫扎特、贝多芬等大作曲家均对巴赫推崇备至，但直到浪漫主义时代，
            | 作曲家门德尔松于1829年在柏林改编并指挥巴赫的《马太受难曲》，才使乐坛正视巴赫音乐的价值；浪漫早期以降的作曲家也多受巴赫影响。
            | 此后数代音乐家对他的作品进行了发掘、研究、整理和推广，巴赫逐渐恢复了崇高的地位。巴赫的作品编号（BWV）也随近代的不断发掘而持续扩充、更新[4]。
      div.x-page
        div.page(animate="bounceInUp", delay=100, duration=1000)
          div.top-img
            img(data-src="src/assets/images/user-img2.jpg" prior)
          div.desc 巴赫早年生活清苦，自幼双亲即离世，由长兄扶养，15岁后便开始自力更生。然而巴赫所受的音乐教育从未中断,
            | 他的好学与天分使他在年仅18岁时便成为了管风琴师。巴赫也同时是一位自学成才的作曲家[6]，他没上过任何作曲方面的课程，
            | 也未曾出国（日耳曼）求教，所以从青年时代起，他就开始研究很多有影响的作曲家的作品并从中学习[7]，
            | 主要是经由对音乐的聆听、阅读、誊录、加工、模仿和对作曲方法的研究，这样的学习甚至持续到晚年[6]。
            | 巴赫在30岁以前（魏玛时期或更早）虽有数首管风琴曲和清唱剧传世，但他真正有名的成熟之作绝大部分是在30岁之后（克滕与莱比锡时期）所作，
            | 可见巴赫确有天分，但其所得到的成就多奠基于长期的尝试与钻研之上[8]。
          

